@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

/* General Style */
html {
    font-size: 14px;
  }
:root {
  --red-hat: "Red Hat Text", sans-serif;
  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);
  --White: hsl(0, 0%, 100%);
  --Dark-desaturated-blue: hsl(236, 21%, 26%);
  --Very-dark-blue: hsl(235, 16%, 14%);
  --Very-dark-black-blue: hsl(234, 17%, 12%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--red-hat);
  }

body{
    background-color: var(--Very-dark-blue);
    margin: 2rem;
    background-image: url(./images/bg-stars.svg);
}

 /* Heading */

 h2{
     text-transform: uppercase;
     letter-spacing: .3rem;
     font-family: var(--red-hat);
     text-align: center;
     margin-top: 10rem;
     color:var(--White)
 }
 /* counter */
 .count-number{
     color: var(--Grayish-blue);
     text-transform: uppercase;
     display: flex;
     margin-top: 4rem;
     margin-left: .2rem;
     text-align: center;
 }
 .count-box{
     width: 5rem;
     height: 5rem;
     color: var(--Soft-red);
     font-size: 2.5rem;
     margin: auto;
     margin-left: .7rem;
     margin-bottom: 1rem;
     background-color: var(--Dark-desaturated-blue);
     border-radius: 8px;
 }
 /* footer */
footer{
   
    margin-top: 13rem;
    display: flex;
    /* background-image: url(./images/pattern-hills.svg); */
} 
.icon{
    margin-left: 3rem;
}

@media screen and (min-width: 768px) {
    .count-number{
        margin-left: 8rem;
    }
    .count-box{
        width: 8rem;
        height: 8rem;
        margin-left: 1.2rem;
        font-size: 6rem;
    }
    footer{
        margin: 20rem  15rem;
    }
}
@media screen and (min-width: 1024px){
    .count-number{
        margin-left: 15rem;
    }  
    footer{
        margin: 30rem  25rem;
        /* background-image: url(./images/pattern-hills.svg); */
        width: 1024px;
        height: 1000px;
        /* background-repeat: no-repeat; */
    } 
}
